body {
  background: linear-gradient(to bottom, #F5FFF6 0%, #C2BCB7 100%) no-repeat center center fixed;
  height: 100%;
  min-width: 100%;
  padding: auto 0;
  margin: 0;
  vertical-align: middle;
  transition: all 1s; 
    -o-transition: all 1s; 
    -moz-transition: all 1s; 
    -webkit-transition: all 1s;
}

div:nth-child(1) {
	width: 500px;
	height: 100%;
}

div {
	width: 400px;
	height: 800px;
	padding: 0;
	background: url("../img/desk.JPG") fixed center no-repeat;
	background-size: cover;
	transition: all 2s; 
	-o-transition: all 2s; 
	-moz-transition: all 2s; 
	-webkit-transition: all 2s;
}

h1 {
	padding-top: 300px;
	color: white;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 100px;
}

ul {
  text-align: center;
  padding: 0;
  margin: 30px auto;
  width: 513px;
  transition: all 2s; 
    -o-transition: all 2s; 
    -moz-transition: all 2s; 
    -webkit-transition: all 2s;
}

li {
  display: inline;
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
  color: white;
  transition: all 1s; 
    -o-transition: all 1s; 
    -moz-transition: all 1s; 
    -webkit-transition: all 1s;
}

a:link,
a:visited,
a:hover,
a:active {
  color: white;
  font-size: 30px;
  padding: 10px 25px;
  text-decoration: none;
  transition: all 2s; 
    -o-transition: all 2s; 
    -moz-transition: all 2s; 
    -webkit-transition: all 2s;
}

table {
	margin-left: 500px;
	position: absolute;
	height: 50%;
	width: 30%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

th {
	padding: 10px;
}

td {
  height: 10px;
}